STRIPE_SECRET_KEY=sk_test_
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
NEXT_PUBLIC_APP_URL=http://localhost:3002
STRIPE_STARTER_PRICE_ID=price_starter
STRIPE_CREATOR_PRICE_ID=price_creator
STRIPE_AGENCY_PRICE_ID=price_agency
